// Тема по умолчанию
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "./mixins.scss";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Manrope', sans-serif;
  &:focus,
  &:active{
    outline: none;
  }
}
html,
body{
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
}

body.activeBar{
  overflow-y: hidden;
}
::-webkit-scrollbar{
  display: none;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .main{
    flex: 1 1 auto;
  }
}
button{
  background: none;
  border: none;
  cursor: pointer;
}
a{
  color: inherit;
}

main{
  margin-right: auto;
  margin-left: auto;

  // @include res("width", 1296px);
  // @include media(1024){
  //     @include rest("width",  936px);
  // }
  // @include media(768){
  //   @include resm("width",  696px);
  // }
  // @include media(575){
  //   @include resa("width",  296px);
  // }
}

ul {
  list-style-type: none;
}

body {
  @include res("font-size", 16px);
}

.container{
  margin-left: auto;
  margin-right: auto;
  @include res('width', 1194px);
  @include media(576){
    @include resa('width', 360px);
  }
}
.title{
  @include res('font-size', 32px);
  @include media(576){
    @include resa('font-size', 24px);
  }
}
.adsslider{
  .swiper-pagination-bullet {
    background: var(--Green-50, #FAFFF6);
    @include res("width", 36px);
    @include res("height", 6px);
    @include res("border-radius", 64px);
  }
  .swiper-pagination-bullet-active {
      background: var(--Green-400, #8DF04A);
  }
}
.swiper{
  overflow: visible !important;
}

.swiper-slide{
  width: fit-content !important;
}

.swiper-wrapper{
  // width: fit-content !important;
  @include res('gap', 24px);
  @include media(1024){
    @include rest('gap', 24px);
  }
  // @include media(768){
  //   @include resm('gap', 16px);
  // }
  @include media(400){
    @include resa('gap', 12px)
  }
} 

.videoSlider{
  .swiper-wrapper{
    gap: 0 !important;
  }
}


h2{
  font-weight: 700;
  @include res("font-size", 36px);
}