@import "@/styles/mixins.scss";


.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    @include res('margin-top', 96px);
    @include res('width', 1296px);
    .h2{
        color: #183203;
        font-family: Manrope;
        font-style: normal;
        font-weight: 700;
        @include res('font-size', 36px);
    }
    .seeAll{
        display: flex;
        color: var(--Green-600, #439F00);
        text-decoration: none;
        font-weight: 600;
        @include res('font-size', 16px);
        @include res('gap', 4px);
        .svg{
            @include res('width', 16px);
            @include res('height', 16px);

        }
    }
}
.cards{
    display: flex;
    align-items: center;
    align-content: center;
    align-self: stretch;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    @include res('margin-top', 64px);
    @include res('width', 1296px);
    @include res('column-gap', 24px);
    @include res('row-gap', 32px);
    @include media(1024){
        @include rest('margin-top', 48px);
        @include rest("width", 612px);
        @include rest("column-gap", 12px);
        @include rest("row-gap", 24px);
    }
    @include media(768){
        @include resm('margin-top', 32px);
        @include resm("width", 708px);
        @include resm("column-gap", 12px);
        @include resm("row-gap", 24px);
    }
    @include media(400){
        @include resa('margin-top', 24px);
        @include resa("width", 296px);
        @include resa("column-gap", 12px);
        @include resa("row-gap", 12px);
    }
}
