@import "@/styles/mixins.scss";


.category{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    @include res("width", 1296px);
    @include res("gap", 24px);
    @include res("margin-top", 64px);
    @include media(1024){
        @include rest("width", 936px);
        @include rest("gap", 24px);
        @include rest("margin-top", 43px);
    }
    @include media(768){
        @include resm("width", 696px);
        @include resm("gap", 24px);
        @include resm("margin-top", 36px);
    }

    @include media(576){
      @include resa('width', 296px);
      @include resa("gap", 12px);
      @include resa("margin-top", 32px);
    }
    &.second .category__card{
        @include media(768){
            @include resm('width', 154px);
        }
        @include media(576){
            @include resa('width', 142px);
        }
    }
    .category__card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        flex-shrink: 0;
        overflow: hidden;
        text-decoration: none;
        @include res("border-radius", 24px);
        @include res("width", 306px);
        @include res("height", 214px);
        @include res("padding", 24px);
        @include res("gap", 10px);
        @include media(1024){
            @include rest("border-radius", 24px);
            @include rest("width", 216px);
            @include rest("height", 164px);
            @include rest("padding", 16px);
            @include rest("gap", 10px);
        }
        @include media(768){
            @include resm("width", 216px);
            @include resm("border-radius", 12px);
            @include resm("height", 132px);
            @include resm("padding", 12px);
            @include resm("gap", 10px);
        }
        @include media(576){
            @include resa('width', 142px);
            @include resa("border-radius", 12px);
            @include resa("height", 106px);
            @include resa("padding", 12px);
            @include resa("gap", 10px);
        }
        &:nth-child(4){
            @include media(768){
                @include resm('width', 154px);
    
            }
            @include media(576){
                @include resa('width', 142px);
            }
        }
        &.large{
            @include res("width", 416px);
            @include media(1024){
                @include rest("width", 296px);
            }
            @include media(768){
                @include resm('width', 154px);
            }
            @include media(576){
                @include resa('width', 142px);
            }
        }
        &.yellow{   
            background: var(--Yellow-300, #FFF26D);
        }
        &.green{   
            background: var(--Green-300, #A6E479);
        }
        &.green500{   
            background: var(--Green-400, #8DF04A);
        }
        &.gray{
            background: var(--Gray-100, #EAEAEA);
        }
        &.gray50{
            background: var(--Gray-50, #FAFAFA);
        }
        &.lightGreen{
            background: var(--Green-100, #DFF9CA);
        }
        &.lightYellow{
            background: var(--Yellow-100, #FFF7D4);
        }
        &.middleYellow{
            background: var(--Yellow-200, #FFF197);
        }
        .card__name{
            font-weight: 600;
            @include res("font-size", 24px);
            @include media(1024){
                @include rest("font-size", 20px);
            }
            @include media(768){
                @include resm("font-size", 16px);
            }
            @include media(576){
                @include resa("font-size", 14px);
            }
            
        }
        .card__img{
            position: absolute;
            @include res("right", -24px);
            @include res("bottom", -39px);
            @include res("width", 180px);
            @include res("height", 167px);
            @include media(1024){
                @include rest("right", -28px);
                @include rest("bottom", -30px);
                @include rest("width", 148px);
                @include rest("height", 137px);
            }
            @include media(768){
                @include resm("right", -20px);
                @include resm("bottom", -13px);
                @include resm("width", 110px);
                @include resm("height", 101px);
            }
            @include media(576){
                @include resa("right", -15px);
                @include resa("bottom", -20px);
                @include resa("width", 88px);
                @include resa("height", 81px);
            }

        }
    }
}

.categoryPopup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    .wrapper{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include res('width', 1004px);
        @include res('height', 644px);
        @include res('gap', 32px);
        @include res('border-radius', 32px);
        @include res('padding', 32px);
        .heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            svg{
                cursor: pointer;
                @include res('width', 44px);
                @include res('height', 44px);
            }
        }
        .ctrs{
            display: flex;
            align-items: flex-start;
            overflow-y: scroll;
            align-content: flex-start;
            align-self: stretch;
            flex-wrap: wrap;
            @include res('height', 504px);
            @include res('gap', 24px);
            .ctr{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include res('width', 280px);
                @include res('gap', 8px);
                .ctr_heading{
                    font-weight: 600;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-self: stretch;
                    @include res('font-size', 16px);
                    @include res('padding-right', 8px);
                    @include res('padding-left', 8px);
                    @include res('padding-top', 12px);
                    @include res('padding-bottom', 12px);
                    svg{
                        @include res('width', 24px);
                        @include res('height', 24px);
                    }
                }
                .links{
                    display: flex;
                    flex-direction: column;
                    @include res('padding-left', 8px);
                    @include res('padding-right', 8px);
                    @include res('gap', 16px);
                    .popupLink{
                        font-weight: 600;
                        text-decoration: none;
                        color: var(--Gray-800, #4B4B4B);
                        @include res('font-size', 14px);
                    }
                }
            }
        }
    }
}