// 1440px responsive
// 1024px responsive
// 768px responsive
// 400 responsive


@import "@/styles/mixins.scss";
.header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    @include res('width', 1296px);
    @include res('padding-top', 12px);
    @include res('padding-bottom', 12px);
    @include res('gap', 12px);
    @include media(1024){
        @include rest('width', 936px);
    }
    @include media(768){
        @include resm('width', 696px);
    }
    @include media(576){
      @include resa('width', 296px);
    }
    .header__topContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 200;
        background: white;
        align-self: stretch;
        @include media(768){
          display: none;
        }
        .header__topContainer__locationBar{
            display: flex;
            align-items: center;
            @include res('gap', 12px);
            svg{
                @include res('width', 18px);
                @include res('height', 18px);
            }
            .locationBar__name{
                display: flex;
                align-items: center;
                @include res('gap', 4px);
                @include res('width', 132px);
                @include res('height', 24px);
                @include media(1024){
                    
                    @include rest('width', 91px);
                    @include rest('height', 18px);
                    
                }
                span{
                    color: var(--Gray-500, #868686);
                    font-style: normal;
                    font-weight: 600;
                   @include res('font-size', 16px);
                    @include media(1024){
                        @include rest('font-size', 14px);
                    }
                }
                svg{
                    @include res('width', 16px);
                    @include res('height', 16px);
                }
            }
        }
        .header__topContainer__navBar{
            display: flex;
            align-items: center;
            @include res('gap', 12px);
            @include res('width', 644px);
            @include res('height', 32px);
            @include media(1024){
                @include rest('width', 557px);
                @include rest('height', 26px);
                
            }
            .navBar__link{
                font-family: Manrope;
                font-style: normal;
                font-weight: 600;
                color: var(--Gray-500, #868686);
                text-decoration: none;
                @include res('font-size', 16px);
                @include media(1024){
                    @include rest('font-size', 14px);
                  
                }
                &.navBar__greenBtn{
                    background: var(--Green-400, #8DF04A);
                    color: var(--Black-Green, #142B02);
                    @include res('padding-top', 4px);
                    @include res('padding-bottom', 4px);
                    @include res('padding-right', 12px);
                    @include res('padding-left', 12px);
                    @include res('border-radius', 8px);
                    @include media(1024){
                        @include rest('padding-right', 8px);
                        @include rest('padding-left', 8px);
                        @include rest('border-radius', 4px);
                        
                    }   
                }
            }
        }
    }
    .header__bottomContainer{
        display: flex;
        justify-content: center;
        background: white;
        align-items: center;
        z-index: 200;
        align-self: stretch;
        @include res('gap', 32px);
        @include media(1024){
          @include rest('gap', 12px);
          justify-content: space-between;
        }
        @include media(768){
            @include resm('width', 696px);
        }
        @include media(576){
            flex-direction: column;
            @include resa('width', 296px);
            @include resa('gap', 4px);
        }
        .header__bottomContainer__logoCtr{
            display: flex;
            align-items: flex-start;
            @include res('gap', 24px);
            @include media(1024){
              @include rest('gap', 8px);
            }
            @include media(768){
              flex-direction: row-reverse;
            }
            @include media(576){
                justify-content: space-between;
                align-items: center;
                @include resa('width', 296px);
            }
            img{
                @include res('width', 173px);
                @include res('height', 49px);
                @include media(768){
                    @include resm('width', 114px);
                    @include resm('height', 32px);
                }
                @include media(576){
                  @include resa('width', 57px);
                  @include resa('height', 16px);
                }
            }
            .logoCtr__catalogBtn{
                display: flex;
                align-items: center;
                text-decoration: none;
                background: var(--Green-400, #8DF04A);  
                @include res('padding-top', 14px);
                @include res('padding-bottom', 14px);
                @include res('padding-left', 16px);
                @include res('padding-right', 16px);
                @include res('border-radius', 8px);
                @include res('gap', 12px);  
                @include res('font-size', 16px);
                @include media(1024){
                    @include rest('padding', 8px);
                }
                svg{
                    @include res('width', 24px);
                    @include res('height', 24px);
                    @include media(576){
                      @include resa('width', 16px);
                      @include resa('height', 16px);
                    }
                }
                span{
                    color: var(--Black-Green, #142B02);
                    font-weight: 600;
                    @include media(768){
                      display: none;
                    }
                }
            }
            .logoCtr__link{
                display: none;
                @include media(576){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: var(--Green-700, #266D00);
                    text-decoration: none;
                    font-weight: 600;
                    @include resa('font-size', 12px);
                    @include resa('padding', 5px);
                    svg{
                        @include resa('width', 16px);
                        @include resa('height', 16px);
                    }
                }
            }
        }

        .header__bottomContainer__searchWrp {
            border-color: #DFF9CA;
            border-style: solid;
            background: #FFF;
            @include res('width', 570px);
            @include res('padding-top', 4px);
            @include res('padding-bottom', 4px);
            @include res('padding-right', 16px);
            @include res('padding-left', 16px);
            @include res('border-radius', 32px);
            @include res('border-width', 2px);
            @include media(1024){
              @include rest('width', 343px);
            }
            @include media(768){
                @include resm('width', 420px);
            }
            @include media(576){
              @include resa('width', 296px);
              @include resa('padding-top', 4px);
              @include resa('padding-bottom', 4px);
              @include resa('padding-right', 4px);
              @include resa('padding-left', 16px);
              @include resa('border-radius', 32px);
            }
            .searchWrp__searchCtr{
                display: flex;
                justify-content: space-between;
                align-items: center;
                input.searchCtr__searchInput{
                    font-weight: 500;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    color: black;
                    width: max-content;
                    @include res('font-size', 16px);
                    &::placeholder{
                        color: #B0B0B0;
                        @include res('font-size', 16px);
                        @include media(576){
                            @include resa('font-size', 10px);
                        }
                    }
                    @include media(576){
                        @include resa('font-size', 10px);
                    }
                }
                .searchCtr__searchBtn{
                    display: flex;
                    // padding: 10px;
                    justify-content: center;
                    align-items: center;
                    background: #9AE169;
                    @include res('gap', 4px);
                    @include res('border-radius', 32px);
                    @include res('padding', 10px);
                    @include res('padding', 6px);
                    svg{
                        @include res('width', 20px);
                        @include res('height', 20px);
                        @include media(576){
                          @include resa('width', 12px);
                          @include resa('height', 12px);
                        }
                    }
                }
            }
        }

        .header__bottomContainer__linksCtr{
            display: flex;
            justify-content: center;
            align-items: center;
            @include res('gap', 24px);
            @include media(1024){
              @include rest('gap', 0px);
            }
            @include media(576){
              display: none;
            }
            .linksCtr__link{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: var(--Green-700, #266D00);
                text-decoration: none;
                font-weight: 600;
                @include res('font-size', 16px);
                @include res('padding', 12px);
                @include media(1024){
                  @include rest('font-size', 14px);

                }
                &:first-child{
                    @include media(768){
                      display: none;
                    }
                }
                &:last-child{
                    @include media(768){
                      display: none;
                    }
                }
                svg{
                    @include res('width', 34px);
                    @include res('height', 24px);
                    @include media(1024){
                      @include rest('width', 24px);
                    }
                    @include media(768){
                      @include resm('width', 20px);
                      @include resm('height', 20px);
                    }
                }
            }
        }
    }
}

.topPrices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @include res("width", 1296px);
    @include media(1024){
      @include rest('width', 936px);
    }
    @include media(768){
        @include resm('width', 696px);
    }
    @include media(576){
      @include resa('width', 296px);
    }
    .topPrices__costCtr{
        display: flex;
        align-items: center;
        @include res("gap", 8px);
        @include media(768){
            @include resm('gap', 6px);
        }
        @include media(576){
          @include resa('gap', 4px);
        }
        @include media(576){
          
            &:nth-child(4){
                display: none;
            }
            &:nth-child(5){
                display: none;
            }
        }

        .costCtr__name{
            font-weight: 500;
            color: var(--Gray-300, #B0B0B0);
            @include res("font-size", 24px);
            @include media(1024){
              @include rest('font-size', 20px);
            }
            @include media(768){
                @include resm('font-size', 16px);
            }
            @include media(576){
                @include resa('font-size', 12px);
            }
        }
        .costCtr__cost{
            font-weight: 500;
            color: var(--Black-Green, #142B02);
            @include res("font-size", 24px);
            @include media(1024){
                @include rest('font-size', 20px);
            }
            @include media(768){
                @include resm('font-size', 16px);
            }
            @include media(576){
                @include resa('font-size', 12px);
            }
        }

    }
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

// 1440px responsive

.navBar{
    z-index: 100;
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    .wrapper{
        margin-right: auto;
        margin-left: auto;
    
        @include res('padding-top', 218px);
        @include res('width', 1296px);
        @include media(1024){
            @include rest('width', 936px);
            @include rest('padding-top', 192px);
        }
        @include media(768){
            @include resm('width', 696px);
            @include resm('padding-top', 76px);
        }
        @include media(576){
            @include resa('width', 296px) ;
            @include resa('padding-top', 96px);
        }
        h3{
            color: #183203;
            @include res('font-size', 32px);
            @include res('margin-bottom', 12px);
            @include media(1024){
                @include rest('font-size', 32px);
                @include rest('margin-bottom', 12px);
            }
        }
    }
    
    
    .categories{
        position: relative;
        @include res('width', 715px);
        @include media(1024){
            @include rest('width', 715px);
        }
        .categoriesCtr{
            border-right: 1px solid rgba(24, 50, 3, 0.20);
            display: flex;
            @include res('width', 362px);
            @include media(1024){
                @include rest('width', 362px);
            }
            .categoriesBtn{
                display: flex;
                width: 100%;
                align-items: center;
                font-weight: 600;
                justify-content: space-between;
                color: #183203;
                @include res('font-size', 16px);
                @include res('padding-top', 12px);
                @include res('padding-bottom', 12px);
                @include res('padding-right', 8px);
                @include res('padding-left', 8px);
                @include media(1024){
                    @include rest('font-size', 16px);
                    @include rest('padding-top', 12px);
                    @include rest('padding-bottom', 12px);
                    @include rest('padding-right', 8px);
                    @include rest('padding-left', 8px);
                  
                }
                svg{
                    @include res('width', 24px);
                    @include res('height', 24px);
                    @include media(1024){
                        @include rest('width', 24px);
                        @include rest('height', 24px);
                    }
                }
            }
            .subCategories{
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 0;
                right: 0;
                @include res('width', 321px);
                @include res('gap', 24px);
                @include media(1024){
                    @include rest('width', 321px);
                    @include rest('gap', 24px);
                }
                h4 {
                    color: #183203;
                    @include res('font-size', 24px);
                    @include media(1024){
                        @include rest('font-size', 24px);
                    }
                }
                .linksCtr a {
                    font-weight: 600;
                    text-decoration: none;
                    color: #183203;
                    @include res('font-size', 16px);
                    @include media(1024){
                        @include rest('font-size', 16px);
                    }
                }
                @include media(576){
                    display: none;
                }
            }
        }
    }
}