@import "@/styles/mixins.scss";


.footer{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;

    @include res('margin-top', 96px);
    @include res('width', 1296px);
    @include res('padding-left', 72px);
    @include res('padding-right', 72px);

    @include media(1024){
        @include rest('margin-top', 72px);
        @include rest('width', 1024px);
        @include rest('padding-left', 44px);
        @include rest('padding-right', 44px);
    }

    @include media(768){
        @include resm('margin-top', 64px);
        @include resm('width', 768px);
        @include resm('padding-left', 36px);
        @include resm('padding-right', 36px);
    }
    @include media(576){
        @include resa('margin-top', 56px);
        @include resa('width', 320px);
        @include resa('padding-left', 12px);
        @include resa('padding-right', 12px);
    }
    .mainCtr{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        @include res('gap', 48px);
        @include media(1024){
            @include rest('gap', 48px);
        }
        @include media(768){
            @include resm('gap', 32px);
        }
        @include media(576){
            @include resa('gap', 24px);
        }
        .topCtr{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;
            @include media(576){
                flex-direction: column;
                align-items: center;
                @include resa("gap", 24px);
            }
            .section{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                @include res('width', 264px);
                @include res('gap', 32px);
                @include media(1024){
                    @include rest('width', 264px);
                    @include rest('gap', 24px);
                }
                @include media(768){
                    align-items: center;
                    @include resm('width', 247px);
                    @include resm('gap', 16px);
                }
                @include media(576){
                    @include resa('width', 247px);
                    @include resa('gap', 8px);
                }
                .h4{
                    color: #272727;
                    font-weight: 700;
                    @include res('font-size', 24px);
                    @include media(1024){
                        @include rest('font-size', 14px);
                    }
                    @include media(768){
                        @include resm('font-size', 14px);
                    }
                    @include media(576){
                        @include resa('font-size', 12px);
                    }
                }
                .footerLinksCtr{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 12px;
                    @include res('gap', 12px);
                    @include media(1024){
                        @include rest('gap', 12px);
                    }
                    @include media(768){
                        align-items: center;
                        @include resm('gap', 8px);
                    }
                    @include media(576){
                        @include resa('gap', 4px);
                    }
                    .footerLink{
                        font-weight: 600;
                        color: var(--Gray-500, #868686);
                        text-decoration: none;
                        @include res('font-size', 16px);
                        @include media(1024){
                            @include rest('font-size', 14px);
                        }
                        @include media(768){
                            text-align: center;
                            @include resm('font-size', 12px);
                        }
                        @include media(576){
                            @include resa('font-size', 12px);
                        }
                    }
                }
                &.last{
                    @include res('width', 171px);
                    @include res('padding-top', 70px);
                    @include res('padding-bottom', 70px);
                    @include media(1024){
                        @include rest('width', 171px);
                        @include rest('padding-top', 46px);
                        @include rest('padding-bottom', 46px);
                    }
                    @include media(768){
                        display: none;
                    }
                }
            }
        }
        .bottomCtr{
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            @include media(576){
                flex-direction: column;
                @include resa("gap", 24px);
            }
            .apps{
                display: flex;
                align-items: center;
                @include res('gap', 16px);
                @include media(1024){
                    @include rest('gap', 16px);
                }
                @include media(768){
                    @include rest('gap', 18px); 
                }
                @include media(576){
                    flex-wrap: wrap;
                    @include resa("width", 228px);
                    @include resa('gap', 4px); 
                }
                .img{
                    @include res('width', 135px);
                    @include res('height', 40px);
                    @include media(1024){
                        @include rest('width', 133px);
                        @include rest('height', 40px);   
                    }
                    @include media(768){
                        @include resm('width', 110px);
                        @include resm('height', 30px);   
                    }
                    @include media(576){
                        @include resa('width', 110px);
                        @include resa('height', 30px);   
                    }
                }
            }
            .socials{
                display: flex;
                align-items: flex-end;
                @include res('gap', 16px);
                @include media(1024){
                    @include rest('gap', 16px);
                }
                @include media(768){
                    @include rest('gap', 18px); 
                }
                @include media(576){
                    @include resa('gap', 8px);
                }
                .img{
                    @include res('width', 32px);
                    @include res('height', 32px);
                    @include media(1024){
                        @include rest('width', 32px);
                        @include rest('height', 32px);
                    }
                    @include media(768){
                        @include resm('width', 24px);
                        @include resm('height', 24px);
                    }
                    @include media(576){
                        @include resa('width', 24px);
                        @include resa('height', 24px);
                    }
                }
            }

        }
    }
    .copyrightCtr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;        
        @include res('padding-top', 40px);
        @include res('padding-bottom', 40px);
        @include media(1024){
            @include rest('padding-top', 40px);
            @include rest('padding-bottom', 40px);
        }
        @include media(768){
            @include resm('padding-top', 24px);
            @include resm('padding-bottom', 24px);
        }
        @include media(576){
            @include resa('padding-top', 24px);
            @include resa('padding-bottom', 24px);
        }
        .span{
            color: var(--Gray-300, #B0B0B0);
            font-weight: 600;
            @include res('font-size', 20px);
            @include media(1024){
                @include rest('font-size', 16px);
            }
            @include media(768){
                @include resm('font-size', 16px);
            }
            @include media(576){
                @include resa('font-size', 16px);
            }
        }
    }
}


.mobileBarPanel{
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    z-index: 50;
    background: white;
    display: none;
    // transform: translate(-50%, -50%);
    width: 100%;
    @include media(576){
      display: block;
    }
    .wrapper{
        @include resa('width', 296px);
        @include resa("padding-top", 4px);        
        @include resa("padding-bottom", 4px);
        @include resa("padding-right", 12px);
        @include resa("padding-left", 12px);
        display: flex;
        margin: 0 auto;
    }
    .link{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--Green-700, #266D00);
        text-decoration: none;
        font-weight: 600;
        @include resa('font-size', 12px);
        @include resa('padding-top', 6px);
        @include resa('padding-bottom', 6px);
        @include resa('padding-left', 8px);
        @include resa('padding-right', 8px);
        @include resa("font-size", 8px);
        svg{
            @include resa('width', 16px);
            @include resa('height', 16px);
        }
    }
}